<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Compiled and minified JavaScript -->
    <script src="js/materialize.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<div class="container login-form">
    <div class="row" style="margin-top: 20em">
        <!--<div class="col s1 #f8bbd0 pink lighten-4">1</div>-->
        <!--<div class="col s1 #fce4ec pink lighten-5">2</div>-->
        <!--<div class="col s1 #f8bbd0 pink lighten-4">3</div>-->
        <!--<div class="col s1 #fce4ec pink lighten-5">4</div>-->
        <!--<div class="col s1 #f8bbd0 pink lighten-4">5</div>-->
        <!--<div class="col s1 #fce4ec pink lighten-5">6</div>-->
        <!--<div class="col s1 #f8bbd0 pink lighten-4">7</div>-->
        <!--<div class="col s1 #fce4ec pink lighten-5">8</div>-->
        <!--<div class="col s1 #f8bbd0 pink lighten-4">9</div>-->
        <!--<div class="col s1 #fce4ec pink lighten-5">10</div>-->
        <!--<div class="col s1 #f8bbd0 pink lighten-4">11</div>-->
        <!--<div class="col s1 #fce4ec pink lighten-5">11</div>-->

        <form action="#" th:action="@{/signin}" th:object="${customer}" method="post"
              class="col s10 m6 offset-s1 offset-m3">

            <div class="input-field">
                <input id="username" type="text" th:field="*{username}" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" th:field="*{password}" class="validate">
                <label for="password">Password</label>
            </div>
            <button class="waves-effect waves-light btn-small right col s3" type="submit">Sign In
            </button>
            <br/>
            <br/>
            <a href="/signup" class="waves-effect waves-light btn-small right col s3">Sign Up</a> <br/>
        </form>
    </div>
</div>

</body>
</html>

